html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/* Lys grøn navbar */
.custom-navbar {
    background-color: #4da685; 
}
/* Effekt når man holder musen over eller siden er aktiv */
.nav-link {
    position: relative;
    transition: color 0.3s ease;
}

    .nav-link::after {
        content: '';
        position: absolute;
        width: 0%;
        height: 2px;
        bottom: -4px;
        left: 0;
        background-color: #ffffff; /* hvid streg */
        transition: width 0.3s ease;
    }

    .nav-link:hover::after,
    .nav-link:focus::after,
    .nav-link.active::after {
        width: 100%;
    }

