@page
@model Dyreværn.Pages.IndexModel
@{
    ViewData["Title"] = "Velkommen til Dyreværn";
}
<link rel="stylesheet" href="~/css/index.css" />


<div class="text-center">
    <h1 class="display-4">Velkommen til Dyreværn</h1>
    <p>Et trygt hjem for dyr i nød – klar til adoption og kærlige hjem.</p>

    <div class="button-links">
        <a class="btn btn-primary" asp-page="/Adopt">Se dyr til adoption</a>
        <a class="btn btn-secondary" asp-page="/BookVisit">Book et besøg</a>
        <a class="btn btn-outline-dark" asp-page="/EmployeeList">Administrer medarbejdere</a>
    </div>

</div>
